{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
</head>
<body>
    <div style="margin: 10px auto; width: 90%;">
        <h1 style="text-align: center;">Employee Management System</h1>
    </div>
    

    <table style="width: 100%; text-align: center;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Job</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{  employee.name }}</td>
            <td>{{  employee.email }}</td>
            <td>{{  employee.job }}</td>
            <td>$ {{  employee.salary }}</td>
            <td><a class="edit-button" href="{% url 'editEmployeeForm' employee.id %}">Edit</a></td>
            <td><a class="delete-button" href="{% url 'deleteEmployee' employee.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <div style="margin:10px auto; width:50%; text-align: center;">
        <a class="add-button" href="{% url 'employeeForm' %}">Create New Employee</a> 
    </div>
</body>
</html>